<div class="container">
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h3>Basic usage</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <pre>{{to-string this 'someAction'}}</pre>
      <pre>{{to-string this 'someFunction'}}</pre>
      <pre>{{to-string this 'fullName'}}</pre>
      <pre>{{to-string this 'someVariable'}}</pre>
      <pre>{{to-string this 'someVariable2'}}</pre>
      <pre>{{to-string this 'someVariable3'}}</pre>
      <pre>{{to-string this 'someVariable4'}}</pre>
      <pre>{{to-string this 'someVariable4' true}}</pre>
      <pre>{{to-string this 'someNotComputedVariable'}}</pre>
      <pre>{{to-string some 'someAction1'}}</pre>
      <pre>{{to-string some 'someFunction1'}}</pre>
      <pre>{{to-string some 'someVariable1'}}</pre>
    </div>
  </div>
</div>