<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Usage</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Check <code>index</code> (<a href="https://github.com/onechiporenko/ember-to-string/blob/master/tests/dummy/app/controllers/index.js">#</a>) and <code>some</code> (<a
        href="https://github.com/onechiporenko/ember-to-string/blob/master/tests/dummy/app/controllers/some.js">#</a>) controllers to compare source code and code shown on this page.</p>
      <p><code>some</code> is injected to the <code>index</code> with <kbd>some: Ember.inject.controller('some')</kbd>.</p>
    </div>
  </div>
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Property is a plain object</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'notComputedObject'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'notComputedObject'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Property is an Ember-object</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'notComputedEmberObject'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'notComputedEmberObject'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Computed Property (raw mode)</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'computedPropertyEmberObject'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'computedPropertyEmberObject'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Computed Property (calculated)</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'computedPropertyEmberObject' true}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'computedPropertyEmberObject' true}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Computed Property with getter and setter</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'computedPropertyWithGetterSetter'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'computedPropertyWithGetterSetter'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Action</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'someAction'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'someAction'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Method</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'method'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'method'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Method is an observer</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'methodObserver'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'methodObserver'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Method is a listener</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'methodListener'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'methodListener'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Method is observer and listener</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'methodObserverListener'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'methodObserverListener'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Controller injection</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'some'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'some'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Service injection</h4>
    </div>
    <div class="col-md-5">
      <p>Usage:</p>
      <pre><code>\{{to-string this 'service'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string this 'service'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Computed property from the injected controller</h4>
    </div>
    <div class="col-md-5">
      <p>Usage (<code>some</code> instead of <code>this</code>):</p>
      <pre><code>\{{to-string some 'someVariable1'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string some 'someVariable1'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Method-observer from the injected controller</h4>
    </div>
    <div class="col-md-5">
      <p>Usage (<code>some</code> instead of <code>this</code>):</p>
      <pre><code>\{{to-string some 'someFunction1'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string some 'someFunction1'}}</code></pre>
    </div>
  </div>
  <!-- -->
  <!-- -->
  <div class="row">
    <div class="col-md-12">
      <h4>Action from the injected controller</h4>
    </div>
    <div class="col-md-5">
      <p>Usage (<code>some</code> instead of <code>this</code>):</p>
      <pre><code>\{{to-string some 'someAction1'}}</code></pre>
    </div>
    <div class="col-md-7">
      <p>Output:</p>
      <pre><code class="language-javascript">{{to-string some 'someAction1'}}</code></pre>
    </div>
  </div>
  <!-- -->
</div>